@{
    ViewData["Title"] = "Index";
}
<div id="travel" class="row row-cols-1 row-cols-md-3 g-4"></div>


<!--https://getbootstrap.com/docs/5.3/components/card/#card-groups-->
@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        // console.log(spots.CommonFormat.Section);
        const sections = spots.CommonFormat.Section;
        let context="";
        sections.forEach(s => {
            const xbody = s.xbody.substring(0, 100)+"...";
            const img = s.file.img[0]?.text;
            context +=  `           
               <div class="card-group">
                    <img src="${img}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">${s.stitle}</h5>
                        <p class="card-text">${xbody} </p>
                    </div>
                    <div class="card-footer">   
                        <small class="text-muted">${s.address}</small>
                    </div>
                </div>` 
        })
        $('#travel').html(context);
           
    </script>
}
